body {
  font-size: 14px;
  --main-font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  width: 100%;
}
.header {
  font-weight: bold;
  font-size: 1.1em;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

.nav-up {
  top: -55px; 
}


.jumbotron-bike {
  display: flex;
  justify-content: center;
  background-image: url("./../images/jumbotron-bike.jpg");
}

.jumbotron-think {
  display: flex;
  justify-content: center;
  background-image: url("./../images/jumbotron-beer.jpg");
}

.jumbotron-create {
  display: flex;
  justify-content: center;
  background-image: url("./../images/jumbotron-flowers.jpg");
}

.jumbotron-start {
  display: flex;
  justify-content: center;
  background-image: url("./../images/jumbotron-duffel.jpg");
}

.jumbotron-content {
  max-width: 51.3rem;
  color: white;
  padding: 11.85rem 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

.jumbotron-content h1 {
  font-family: "Monoton";
  text-transform: uppercase;
  font-size: 7.1rem;
}

@media only screen and(max-width: 480px) {
  .jumbotron-content h1 {
    font-size: 5.7rem;
    text-shadow: -1px 1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 1px -1px 0 #000;
  }
}

.btn-primary {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0,0,0, 0.5);
  text-shadow: none;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0,0,0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 3px rgba(0,0,0, 0.5);

}

.title {
  margin-bottom: 20px;
}
img {
  width: 100%;
}
.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform .5s,
              opacity .5s;
  transition: transform .5s,
              opacity .5s;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

ul {
  color: rgba(0, 0, 0, 0,7);
}
.projects {
  padding-bottom: 5.85rem;
}

.having-trouble {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
  text-align: center;
}

strong {
  font-size: 2.5rem;
  font-weight: bold;
}

.having-trouble p {
  max-width: 42rem;
  padding: 1.4rem 0;
  margin: auto;
}

.slick-initialized .slick-slide {
  display: flex;
}
